@import "tailwindcss";

:root {
  --azhka-blue: #1FB6C9;
  --dark-teal: #0E5E6F;
  --text-primary: #111827;
  --text-secondary: #6B7280;
  --bg-soft: #F9FAFB;
  --bg-white: #FFFFFF;
  --cta-hover: #0A4C59;
}



body {
  font-family: 'Inter', sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-soft);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
}

section {
  position: relative;
  width: 100%;
}